'.source.sql':
  'Config':
    'prefix': 'config'
    'body': "{{\n\tconfig(\n\t\tmaterialized='${1:table}'\n\t)\n}}"
  'Config Incremental':
    'prefix': 'config_incremental'
    'body': "{{\n\tconfig(\n\t\tmaterialized='incremental',\n\t\tunique_key='${1:id}'\n\t)\n}}"
  'Env Var':
    'prefix': 'env_var'
    'body': '{{ env_var("${1:env_var_name}") }}'
  'Load Result':
    'prefix': 'load'
    'body': "load_result('${1:statement_name}')"
  'Log':
    'prefix': 'log'
    'body': '{{ log(${1:var}, info=${2:True}) }}'
  'Statement':
    'prefix': 'statement'
    'body': '{% call statement(${2:name}, fetch_result=${2:True}) %}\n\t${3:select 1}\n{% endcall %}'
  'Ref':
    'prefix': 'ref'
    'body': "{{ ref('${1:model_name}') }}"
  'Return':
    'prefix': 'return'
    'body': '{{ return(${1}) }}'
  'Var':
    'prefix': 'var'
    'body': "{{ var('${1:var_name}') }}"
  'Source':
    'prefix': 'source'
    'body': "{{ source('${1:source}', '${2:table_name}') }}"
