'fileTypes': [
  'md'
]
'firstLineMatch': '^{% extends ["\'][^"\']+["\'] %}'
'name': 'Markdown (Jinja Templates)'
'patterns': [
  {
    'include': 'source.jinja'
  }
  {
    'include': 'source.gfm'
  }
]
'scopeName': 'source.gfm.jinja'
