'fileTypes': [
  'yml'
]
'firstLineMatch': '^{% extends ["\'][^"\']+["\'] %}'
'name': 'YAML (Jinja Templates)'
'patterns': [
  {
    'include': 'source.jinja'
  }
  {
    'include': 'source.yaml'
  }
]
'scopeName': 'source.yaml.jinja'
