# Adapted from https://github.com/danielchatfield/atom-jinja2/blob/master/grammars/yaml%20(jinja%20templates).cson
# Summary of changes:
# * fileTypes edited so that it is the default for md files

'fileTypes': [
  'yml'
]
'firstLineMatch': '^{% extends ["\'][^"\']+["\'] %}'
'name': 'YAML (Jinja Templates)'
'patterns': [
  {
    'include': 'source.jinja'
  }
  {
    'include': 'source.yaml'
  }
]
'scopeName': 'source.yaml.jinja'
